@import "bootstrap";
body {
  /*background-color: #1d3549;*/
  /*background-image: url("home_bg.jpg");*/
  background-repeat: no-repeat;
  background-position: fixed;
}

.content {
  margin-top: 20px; 
}

#widowcase-masthead{
  color: white;
}

.widowcasenav {
  background-color: black;
}